body{

    background-color: rgb(14, 166, 222);

}
.menu-horizontal{
    background-color: azure;
    overflow: hidden;
}
.menu-horizontal ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
.menu-horizontal li{
    display: inline;
}
.menu-horizontal a{
    display: block;
    color: rgb(26, 26, 26);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-horizontal a:hover{
    background-color: rgb(98, 0, 255);
}